@model GymAssistant.Models.Total

@{
    ViewData["Title"] = "Create";
}

<h4>Dodaj swój total</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Data
                <input asp-for="StartTraining" class="form-control" />
                <span asp-validation-for="StartTraining" class="text-danger"></span>
            </div>
            <div class="form-group">
                Wyciskanie leżąc
                <input asp-for="lawa" class="form-control" />
                <span asp-validation-for="lawa" class="text-danger"></span>
            </div>
            <div class="form-group">
                Przysiad
                <input asp-for="przysiad" class="form-control" />
                <span asp-validation-for="przysiad" class="text-danger"></span>
            </div>
            <div class="form-group">
                Marwy ciąg
                <input asp-for="martwy" class="form-control" />
                <span asp-validation-for="martwy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót do listy</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}